<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/3e2a1eade5.js", crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <h1 class="company-name">SyruProjects</h1>
        <p>{{email}}, {{username}}, {{password}}, {{role}}</p>
    </header>

    <!-- Showcase Section -->
    <section class="showcase">
        <h2 class="slogan">Building the Future, One Project at a Time</h2>
        <form action="/quote">
            <button class="btn-quotation">Get Quotation</button>
        </form>
    </section>

    <!-- Buttons Section -->
    <h2 class="section-heading">Learn More About Us:</h2>
    <section class="buttons-section">
        <button class="btn-secondary">Services</button>
        <button class="btn-secondary">About</button>
        <button class="btn-secondary">Info</button>
        <button class="btn-secondary">Our Work</button>
    </section>

    <!-- Bottom Navigation Bar -->
    <nav class="navbar bottom-nav">
        <a href="#" class="nav-link active">
            <i class="fas fa-home"></i>
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-chart-bar"></i>
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-bell"></i>
        </a>
        <a href="#" class="nav-link">
            <i class="fas fa-user"></i>
        </a>
    </nav>

    
</body>
</html>